*{
    padding: 0;
    margin: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body {
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
}

.card img {
    object-fit: cover;
    object-position: center;
    height: 50%;
    width: 90%;
    border-radius: 10px;
}

.card h2 {
    margin: 10px 0;
    font-weight: 800;
    font-size: 35px;
}


.card h5 {
    font-size: 25px;
    color: red;
    margin: 10px;
}

.btn-container button {
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 12px 20px;
    background-color: cadetblue;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.btn-container #remove {
    background-color: #dadada;
    color: #111;
}